<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
          <a href="{{ '/' | relative_url }}" style="color: black">
            <h1 class="fw-light">PERSONALIZE @ EACL 2024</h1>
            <p class="lead">The 1st Personalization of Generative AI Workshop</p>
          </a>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light pb-lg-0 border-bottom">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">{% if site.title-icon %}{% include icon.html icon=site.title-icon %} {% endif %}{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNav">
            <ul class="navbar-nav nav-tabs justify-content-end">
            {% for section in site.html_pages %}{% if section.nav %}
                <li class="nav-item">
                    {% if section.title == "Call for Papers" %}
                    <a class="nav-link{% if page.url == section.url %} active{% endif %} p-3 h-100" href="{{ section.url | relative_url }}" style="width: 150px;">{% if section.nav == true %}{{ section.title }}{% else %}{{ section.nav }}{% endif %}</a>
                    {% else %}
                    <a class="nav-link{% if page.url == section.url %} active{% endif %} p-3 h-100" href="{{ section.url | relative_url }}" >{% if section.nav == true %}{{ section.title }}{% else %}{{ section.nav }}{% endif %}</a>
                    {% endif %}

                </li>
            {% endif %}{% endfor %}
            </ul>  
        </div>
    </div>
</nav>