/* add your tweaks here! */
.scroll {
    max-height: 500px;
    overflow-y: auto;
}

.masthead {
  height: 500px;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}