/* add your tweaks here! */
.scroll {
    max-height: 500px;
    overflow-y: auto;
}

.masthead {
  height: 250px;
  background-image: url("https://genpersonalization.github.io/images/workshop_picture_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fw-light{
  font-weight: 500!important;
  color: white;
}

.lead{
  font-weight: 300!important;
  color: white;
}